@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
body{
    background-color: #757575
}

.navigationBar{
    /*to border feugei mono katw mporei na valw*/
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease-out;
}
.navigationBar:hover{
    background-color: #232325
}
.links li{
    display: inline-block;
    text-align: center;
}
.links .icon{
    margin-left: 7%;
}
.links .name{
    margin-left: 1%;
    margin-right: 4%;
    margin-top: 0.7%;

    font-size: 150%;
    font-weight: bold;
    color: whitesmoke;/*allazei to xrwma*/
}
.links .link {
    padding: 0.7% 6%;
    font-weight: bold;
    font-size: 150%;
    color: whitesmoke; /*allazei xrwma*/
}
.main{
    background-color: #2f89ff;
    position: absolute;
    width: 100%;
    height: 969px;
    top: 0%;
    z-index: -1;
    border-bottom: 8px solid whitesmoke;
}
.space{
    margin-top: 921px;
}
.bioContainer{
    position: relative;
    /*border: black 1px solid; feugei*/
    height: 500px;
    border-bottom: 8px solid whitesmoke;
}
.profile , .bioContainer p{
    /*border: black 1px solid;feugei*/
    position: absolute;
}
.profile{
    width: 400px;
    height: 400px;
    top: 10%;
    left: 5%;
    border-radius: 50%;
    border: 1px solid black;
    /*den exw idea ti skata exei*/
    background: url("./images/#1TheBestDimension.jpg"); /*-------------not working---------------*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
    background-size: 50%;
}
.bioContainer p{
    width: 50%;
    height: 20%;
    display: inline-block;
    right: 5%;
    font-size: 600%;
    font-family: 'satisfy'; /*to allazw*/
}
.bioContainer span{
    font-family: 'Satisfy';
}
#small{
    font-size: 50%;
}
.bioContainer p:nth-child(2){
    top: 5%;
    right: 17%;
}
.bioContainer p:nth-child(3){
    top: 35%;
}
.bioContainer p:nth-child(4){
    bottom: 15%;
    right: 10%;
    font-size: 800%;
}
