@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
/*
------------TODO--------------
make the main div non absolute position
*/


*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
body{
    background-color: #757575
}
.main{
    width: 100%;
    height: 100vh;  /*THERE IS  PROBLEM WITH THIS ONE (pxls)*/
    z-index: -1;
}
.danikasStudiosText{
    position: fixed;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    background: url("images/DANIKAS-STUDIOS-TEXT.png") no-repeat center center;
    background-size: cover;
    z-index: 4;
}
.me{
    position: fixed;
    width: 100vw;
    height: 100%;
    background: url("images/Me-new.png") no-repeat center center;
    background-size: cover;
    z-index: 4;
}
.palmTrees{
    position: fixed;
    width: 100vw;
    height: 100%;
    background: url("images/palm-trees.png") no-repeat center center;
    background-size: cover;
    z-index: 3;
}
.mainBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 2;
}
/*for responsive design*/     /*-----is screen necessary?--WTF-----is landscaper- and is it essential?*/
@media (min-width: 768px) and (max-width: 1140px) {
    .danikasStudiosText{
        background-size: 1150px;
        background-position-y: 15%;
    }
}
@media (min-width: 481px) and (max-width: 767px){     /*There is a problem here don't know where*/
    .danikasStudiosText{
        background-size: 850px;
        background-position-y: 25%;
    }
    .me{
        background-size: 1500px;
        background-position-y: 100%;
    }
    .palmTrees{
        background-size: 1500px;
        background-position-y: 100%;    /*EXEI PROVLHMA TO NAVIGATIONBAR*/
    }
    .navigationBar{
        width: 100%;  /*don't know if this is working*/
    }
}

.navigationBar{
    /*to border feugei mono katw mporei na valw*/
    width: 100%;
    height: 50px;
    z-index: 8;
    transition: all 0.3s ease-out;
    position: absolute;
    bottom: 0;
}
.navigationBar:hover{
    background-color: #6c268a;
}
.sticky{
    position: fixed;
    top: 0;
}
.name{
    margin: 0 auto;
    width: 500px;  /*working on this*/
    height: 150px;
    padding: 0 0;
    background: url("images/DANIKAS-STUDIOS-TEXT.png") no-repeat center 0%;
    background-size: 500px;
}
/*allazei olo panw katw apo edw kai pera*/
.space{
    margin-top: 950px;
}
.bioContainer{
    position: relative;
    /*border: black 1px solid; feugei*/
    height: 500px;
    border-top: 8px solid whitesmoke;
    border-bottom: 8px solid whitesmoke;
    z-index: 6;
    background-color: #00306e /*allazei mallon se kati me ena background-image*/
    
}
.profile{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /*den exw idea ti skata exei*/
    background: url("./images/styl4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
    background-size: 120%;
    margin: 2% 5%;
    border: 2px solid whitesmoke;
    display: inline-block;
    box-shadow: 1px 1px 10px #371247;
}
.bio{
    position: absolute;
    display: inline-block;
    font-size: 400%;
    color: #a13ccc;
    text-shadow: 2px 2px 3px #371247;    
}
.F{
    right: 10%;
    top: 12%;

}
